<div class="text-color">
    <h2>Pipes Básicos</h2>
    <p>Pipes básicos - Usualmente se encuentran en el Common Module.</p>
</div>
<div class="grid text-color">
    <div class="col-4">
        <p-card
            header="UPPERCASE"
            [subheader]="nombreLower | uppercase"               
        >
            {{nombreLower | uppercase}}🎅
        </p-card>
    </div>
    <div class="col-4">
        <p-card
            header="lowercase"
            [subheader]="nombreUpper | lowercase"
        >
        {{nombreUpper | lowercase}}🤡
        </p-card>   
    </div>
    <div class="col-4">
        <p-card
            header="Title Case"
            [subheader]="nombreCompleto | titlecase"
        >
        {{nombreCompleto | titlecase}}🏖
        </p-card>           
    </div>
</div>

<div class="text-color">
    <h2>Date | Fechas | Pipe</h2>
    <p>Pipes fechas - Pipes utilizados para manejar fechas.</p>
</div>

<div class="grid text-color">
    <div class="col-6">
        <p-card>
            <ul>
                <li>Fecha 👉🏻 </li>
                <li>Fecha | date 👉🏻 </li>
                <li>fecha | date:'short' 👉🏻 </li>
                <li>fecha | date:'long' 👉🏻 </li>
                <li>fecha | date:'d-LLLL-y mm:ss aa' 👉🏻 </li>
            </ul>
        
            <hr>
            <ul>
                <li>fecha | date:'long':'GMT-6' 👉🏻 </li>
                <li>fecha | date:'long':'GMT-3' 👉🏻 </li>
                <li>fecha | date:'long':'GMT-3':'fr-CA' 👉🏻 </li>
            </ul>
        </p-card>
    </div>  
    <div class="col-6">
        <p-card>
            <ul>
                <li>{{fecha}}</li>
                <li>{{fecha | date}}</li>
                <li>{{fecha | date:'short'}}</li>
                <li>{{fecha | date:'long'}}</li>
                <li>{{fecha | date:'d-LLLL-y mm:ss aa'}}</li>
            </ul>

            <hr>
            <ul>
                <li>{{fecha | date:'long':'GMT-6'}}</li>
                <li>{{fecha | date:'long':'GMT-3'}}</li>
                <li>{{fecha | date:'long':'GMT-3':'fr-CA'}}</li>    
            </ul>
        </p-card>
    </div>
</div>